<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010679459602-cl8670234h5e08gdu7eisafqb2nov2ac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010679459602-cl8670234h5e08gdu7eisafqb2nov2ac</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1010679459602-hvbovmnuj6n3dtoo9v4g2gni6t7qprd7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD6cHrduhBN0rf7UTBzG-sDiEKmzMqBhyM</string>
	<key>GCM_SENDER_ID</key>
	<string>1010679459602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scamTap</string>
	<key>PROJECT_ID</key>
	<string>scamtap-d924c</string>
	<key>STORAGE_BUCKET</key>
	<string>scamtap-d924c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010679459602:ios:903bb112ae23cbf2728dcb</string>
	<key>DATABASE_URL</key>
	<string>https://scamtap-d924c-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>